extends ../layout

block content
	div(class="row", id="events-page")
		div(class="large-6 columns")
			h2 Upcoming NAICA Events
			!= naicaEvents
		div(class="large-6 columns")
			h2 Upcoming Community Events
			!= commEvents