.top-bar
	.top-bar_container
		.top-bar-title
			span(data-responsive-toggle="responsive-menu" data-hide-for="medium")
				button(class="menu-icon-dark" type="button" data-toggle="")
			a(href="/")
				img(src="/images/logo_white.png" id="naica-logo")
				strong NAICA