.top-bar
	.top-bar_container
		.top-bar-title
			span(data-responsive-toggle="responsive-menu")
				button(class="menu-icon-dark" type="button" data-toggle="")
			a(href="/")
				img(src="/images/logo_white.png" id="naica-logo")
				strong NAICA
		#responsive-menu
			.top-bar-right
				ul(class="dropdown menu" data-dropdown-menu)
					li(class="menu-item is-dropdown-submenu-parent")
						a(href="#") Events
						ul(class="submenu-dropdown menu vertical")
							li
								a(href="/admin/events/add") Add an Event
							li
								a(href="/admin/events/") View All Events
						
