#about-box {
	padding-top: 100px;
	padding-bottom: 100px;
}
#naica-about-logo {
	width: 30%;
	padding: 2%;
	margin-top:2%;
	float: left;
}
#naica-description{
	width:70%;
	float: right;
	padding-left:5%;

}
.description-title{
	font-size: 125%;
	color: #F06D64;
}
.description-text{
	font-size: 75%;
}
.description-header{
	font-size: 75%;
}

.director-container{
	border-collapse: separate;
}
.director-row{

}
.director{
	width: 25%;

}