div.contact-column {
  border: 1px solid map-get($foundation-palette, primary);
  width: 30%;
  padding: 0.9375rem;
  min-height: 30rem;

  p, label, input[type="text"], input[type="email"], textarea {
    font-size: 0.775rem;
  }
  a.contact-link {
    color: black;
    &:hover {
        border-bottom: 1px dotted map-get($foundation-palette, primary);
    }
  }
}
div.extra-padding {
  margin-right: 5%;
}
