$event-box-top-margin: 0.5rem;
$event-box-left-padding: 0.9375rem;

#events-page {
	.large-6 {
		width: 47.5%;
	}
	.event-box {
		border: 1px solid map-get($foundation-palette, primary);
		padding: 0.5rem;
		margin-bottom: 1.5rem;
		.event-header {
			padding-right: $event-box-top-margin;
			margin-left: 0;
			margin-right: 0;
			p {
				line-height: 1.2;
				&.event-info {
					margin: $event-box-top-margin 0 0.5rem 0;
				}
			}
		}
		p.event-description {
			padding-left: $event-box-left-padding;
			padding-right: $event-box-top-margin;
			margin-bottom: 0.5rem;
			line-height: 1.2;
		}
		h3 {
			color: map-get($foundation-palette, primary);
			font-size: 1.25rem;
		}
		.buttons-column {
			margin-top: $event-box-top-margin;
			.button {
				width: 8rem;
				font-weight: 600;
				height: 3rem;
				line-height: 1.5rem;
			}
		}
	}
}
