html {
	margin: 0;
	padding: 0;
	width: 100%;
}

div#container {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: 100%;

	.top-bar {
		background-color: map-get($foundation-palette, primary);
		height: $menu_height;
		line-height: $menu_height;
		padding-top: 0;
		padding-bottom: 0;
		.top-bar_container {
			width: $inner_width;
			margin: 0 auto;
			.top-bar-title {
				color: $white;
			}
			ul {
				background-color: map-get($foundation-palette, primary);
				li {
					height: $menu_height;
					a {
						color: $white;
					}
				}
			}
		}
	}
}