.top-bar {
	height: $menu_height;
	line-height: $menu_height;
	padding-top: 0;
	padding-bottom: 0;
	.top-bar_container {
		width: $inner_width;
		margin: 0 auto;
		.top-bar-title {
			color: $white;
			font-weight: 600;
			font-size: 1.75rem;
			letter-spacing: 0.3rem;

			img#naica-logo {
				height: 2.5rem;
				margin: 0 0.5rem 0.3rem 0;
			}
		}
		ul.menu {
			background-color: map-get($foundation-palette, primary);
			li.menu-item {
				height: $menu_height;
				color: $white;
				a {
					color: $white;
					&:hover {
						color: map-get($foundation-palette, primary);
						transition: color 0.5s;
					}
				}
				&:hover {
					background-color: $white;
					transition: background-color 0.5s;
					// turn the link to the primary color when hovering over outside block
					a {
						color: map-get($foundation-palette, primary);
						transition: color 0.5s;
					}
				}
			}
		}
	}
}
