.newsletter-topblock{
	height:100px;
	overflow: auto;
}
.archive{
	padding-bottom: 50px;
	overflow: auto;
}
.newsletter{
	overflow: auto;
}
.newsletter-text{
	padding-top: 50px;
	margin-left:20%;
	margin-right:20%;
}
.newsletter-container{
	width: 25%;
	padding: 20px;
	float: left;
}
.newsletter-image{
	border: 1px solid map-get($foundation-palette, primary);
	padding: 10px;

}
.newsletter-title{
	font-size: 125%;
	color: #F06D64;
	border-bottom: 1px solid map-get($foundation-palette, primary);
	overflow: auto;

}