// color palette
$foundation-palette: (
  primary: #F06D64,
  primary-lighter: #F08D86,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);

$topbar-background: map-get($foundation-palette, primary);

// converts to ~960px
$inner_width: 60rem;
$admin_inner_width: 40rem;
// converts to ~992px
$inner_width_container: 62rem;
// converts to ~150 px
$menu_height: 5.625rem;
// converts to ~60px
$footer_height: 3.75rem;
// footer spacing
$footer_spacing: 1.25rem;
// body font family
$body-font-family: "Raleway", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

