footer 
	div#footer_inner
		.row
			div(class="small-5 large-5 columns left")
				p &copy; NAICA 2016
			div(class="small-7 large-7 columns right")
				a(href="#") ABOUT US
				a(href="#") EVENTS
				a(href="#") NEWSLETTER
				a(href="#") GALLERY
				a(href="#") CONTACT