doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title= title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/library.css')
	body
		#container
			.top-bar
				.top-bar_container
					.top-bar-title
						strong NAICA
					#responsive-menu
						.top-bar-right
							ul.menu
								li
									a(href="#") ABOUT US
								li
									a(href="#") EVENTS
								li
									a(href="#") NEWSLETTER
								li
									a(href="#") GALLERY
								li 
									a(href="#") CONTACT

			block content
		script(src='/javascript/app.min.js')
