.top-bar
	.top-bar_container
		.top-bar-title
			span(data-responsive-toggle="responsive-menu" data-hide-for="medium")
				button(class="menu-icon-dark" type="button" data-toggle="")
			strong NAICA
		#responsive-menu
			.top-bar-right
				ul.menu
					li
						a(href="#") ABOUT US
					li
						a(href="#") EVENTS
					li
						a(href="#") NEWSLETTER
					li
						a(href="#") GALLERY
					li 
						a(href="#") CONTACT