extends ../layout

block content
	div.newsletter-topblock
	div.archive
		div.newsletter-title 
			p.description-title Articles
		p.newsletter-text THE TEXT YOU WANT GOES HERE a;lkajsdf asdlf asdlfk asdflkasdfl asdflkasdflaksdf 
		div.newsletter-container
			a(href='/newsletter/test.pdf')
				img.newsletter-image(src='/newsletters/test.png')
		div.newsletter-container
			a(href='/newsletter/test.pdf')
				img.newsletter-image(src='/newsletters/test.png')
		div.newsletter-container
			a(href='/newsletter/test.pdf')
				img.newsletter-image(src='/newsletters/test.png')
		div.newsletter-container
			a(href='/newsletter/test.pdf')
				img.newsletter-image(src='/newsletters/test.png')
	div.newsletter
		div.newsletter-title 
			p.description-title Newsletter
		p.newsletter-text THE TEXT YOU WANT GOES HERE a;lkajsdf asdlf asdlfk asdflkasdfl asdflkasdflaksdf 
		div.newsletter-container
			a(href='/newsletter/test.pdf')
				img.newsletter-image(src='/newsletters/test.png')
		div.newsletter-container
			a(href='/newsletter/test.pdf')
				img.newsletter-image(src='/newsletters/test.png')
		div.newsletter-container
			a(href='/newsletter/test.pdf')
				img.newsletter-image(src='/newsletters/test.png')
		div.newsletter-container
			a(href='/newsletter/test.pdf')
				img.newsletter-image(src='/newsletters/test.png')