extends ../layout

block content
	div#about-box
		img#naica-about-logo(src="/images/logo_red.png")
		div#naica-description
			p.description-title We are NAICA.
			p.description-header Our Mission.
			p.description-text Lorem ipsum dolor sit amet, ac vestibulum sapien congue dignissim, cras imperdiet torquent, vel accumsan. Sapien enim vivamus bibendum sed turpis, nibh sit ac | eleifend vel, condimentum elementum tellus enim integer, urna amet.
			p.description-header Our Goals
			p.description-text Dapibus dolor velit augue eget, sit ipsum turpis. Vel tincidunt blandit aenean sed ligula luctus, vivamus nulla minus massa nonummy felis etiam. Et faucibus luctus ultrices massa tellus.
			p.description-header Our History
			p.description-text Justo eros quisque amet suscipit facilisis, orci donec pede congue, nascetur est nulla, ligula sagittis cras iste dictum, eges-tas sed ac in aliquam. Accumsan interdum ipsum, posuere aliquet. Donec nibh dignissim pretium ante elit nam, eget eros ipsum et mattis mi, eros magna, vulputate sed purus nulla congue integer amet. Ut neque nulla donec amet nunc in, massa congue, mauris eget. Sollicitudin nam dignissim class laoreet faucibus vestibulum.
			
	table.director-container
		tr.director-row
			td.director
				p Test
			td.director
				p Test
			td.director
				p Test
			td.director
				p Test

